
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
}

body{
    min-height: 500px;
    height: 100vh;
    margin: 0;
    background: linear-gradient(120deg, #d3a5dc, #a77dcc, hsl(278, 52%, 41%), #612486);
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Lemonada', cursive;
    color: black;
}

.todolist{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    box-shadow: 20px 20px 2px rgba(62, 9, 11, .3);
    margin-top: 20px;
}

.cover .title{
    background: url('./image/office.png');
    height: 200px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Rowdies', cursive;
    color: white;
    text-shadow: 10px 10px #520d63;
    position: relative;
    text-align: center;
}

.cover .title h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
}

.content{
    padding: 30px;
    
}

.content form{
    display: flex;
    justify-content: center;
    margin: 0px 0px 25px 0;
    font-size: 2rem;
}

.content form input{
    border-style: none;
    border-bottom: 1px solid #520d63;
    width: 300px;
    outline: none;
}

.content form .addBtn a{
    color: inherit;
}

.content form > *{
    border: none;
    height: 40px;
}

.content input[type='text']{
    padding: 5px;
    font-weight: 700;
    font-size: 1.5rem;
    color: #520d63;
}

.content input::placeholder{
    color: #f1e2f3;
}

.content .lists{
    overflow: auto;
    padding-left: 0;
}

.content .lists li{
    padding: 3px;
}

.content .lists li button{
    float: right;
    cursor: pointer;
    margin-top: .4em;
    padding: 0;
    border: none;
    background: none;
    font-size: 1.1rem;
    outline:none;
}

.content .lists li .trash{
    margin-right: .7em;
}

.content .lists li .trash:hover{
    color: red;
    font-size: 1.2rem;
}

.content .lists li .completed:hover{
    color: green;
    font-size: 1.2rem;
}

.content ul{
    list-style-type: none;
}

.content ul label{
    cursor: pointer;
    border-radius: 5px;
    padding: 0 5px;
    
}

.content input[type="checkbox"] + label:hover {
    background-color: #f7f1f8;
}

.content input[type="checkbox"]:checked + label{
    color: rgb(180, 176, 201);
    text-decoration: line-through;
}

.content input[type="checkbox"]{
    position: relative;
    top: 0;
    width: 20px;
    height: 20px;
    appearance: none;
    outline: none;
    transition: .3s;
    border-radius: 5px;
    margin-right: .5em;
}

.content input[type="checkbox"]::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    transition: .3s;
}

.content input:checked[type="checkbox"]::before{
    border-left: none;
    border-top: none;
    width: 13px;
    height: 20px;
    border-color: rgb(149, 23, 199);
    /* border: 3px; */
    transform: rotate(45deg) translate(0px, -5px);
    
}

.fa-trash-alt{
    pointer-events: none;
}



